In [4]:
import os
os.chdir('/users/laurencewilliams/BTS/Test')
import numpy as np
import pandas as pd
import sqlite3

In [6]:
def create_connection(db_name):
    """Opens or creates conenction"""
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()
    
    return connection, cursor

def commit_close(conn, c, close_connection=True):
    """commits to connection and closes if close_connection is True"""
    conn.commit()
    
    if close_connection == True:
        c.close()
        conn.close()
    if close_connection == True:
        pass

In [35]:
connection, cursor = create_connection('flights.db')
cursor.execute("SELECT name FROM SQLite_master WHERE type = 'table';")
tables = cursor.fetchall()
print(tables)

[('airports',), ('airlines',), ('routes',)]

In [38]:
cursor.execute("SELECT name FROM SQLite_master WHERE type = 'table';")
tables = cursor.fetchall()
tables

[('airports',), ('airlines',), ('routes',)]

Get columns present in each table

In [44]:
for table in tables:
    print("Table name", table[0])
    cursor.execute('PRAGMA TABLE_INFO({});'.format(table[0]))

    names = [tup[1] for tup in cursor.fetchall()]
    print(names)

Table name airports
['index', 'id', 'name', 'city', 'country', 'code', 'icao', 'latitude', 'longitude', 'altitude', 'offset', 'dst', 'timezone']
Table name airlines
['index', 'id', 'name', 'alias', 'iata', 'icao', 'callsign', 'country', 'active']
Table name routes
['index', 'airline', 'airline_id', 'source', 'source_id', 'dest', 'dest_id', 'codeshare', 'stops', 'equipment']

In [45]:
#Get the number of rows per table

for table in tables:
    num_rows = cursor.execute('SELECT COUNT(*) FROM {};'.format(table[0]))
    values = num_rows.fetchone() #like fetchall, normally used when functioning as an iterator
    print("Table", table[0], "contains", values[0], "rows")

Table airports contains 8107 rows
Table airlines contains 6048 rows
Table routes contains 67663 rows

In [46]:
commit_close(conn=connection, c=cursor, close_connection=True)

Download [this Sqlite database](https://github.com/vfp1/bts-mbds-data-science-foundations-2019/raw/master/sessions/data/flights.db)

Using SQLite database reply the following questions:

*   Which is the country that has the least amount of active airlines?
*   And which is the country that has the most amount of active airlines?
*   Which is the country that has more airports?
*   And the country with the least airports?
*   Which country has the most outgoing destinations? And the least?
*   And which country has the most incoming destinations? And the least?

* Which is the country that has the least amount of active airlines?

Step 1 --> need to slice the country and the active from teh database airlines table

Step 2 --> need to sortby country and count the number of Y; the one with the least is the solution.

In [ ]:
#Step 1 define function to convert Y into interger

def convert_integer():
    c.execute("SELECT active from "