https://www.youtube.com/watch?v=o-vsdfCBpsU

In [1]:
import sqlite3

conn = sqlite3.connect('/users/laurencewilliams/BTS/Test/testtutorial.db')
c = conn.cursor()

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS banana(unix REAL, datestamp TEXT, keyword TEXT, value REAL, day TEXT)")
    
def data_entry():
    c.execute("INSERT INTO banana VALUES(1111, '12-12-2012', 'poop', 9999, 'Sun')")
    conn.commit()

#create table
create_table()
data_entry()

In [2]:
import datetime
import time
import random

def dynamic_data_entry():
    unix = time.time()
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'pooppoop'
    value = random.randrange(0,10)
    day = random.choice(['thur', 'fri', 'sat', 'sun'])
    
    c.execute("INSERT INTO banana(unix, datestamp, keyword, value, day) VALUES (?, ?, ?, ?, ?)",
              (unix, date, keyword, value, day))
    conn.commit()
    
    #HERE, however, we do not add c.close(), conn.close() because then it would mean we open and close for each
    #entry point (range of 0 to 10) which is highly inefficient.

#INSTEAD, we can run a for loop when executing this function

for i in range(0,10):
    dynamic_data_entry()
    time.sleep(1) #this is merely to show a 1 second timestamp difference for each entry
#this way we close only at the end, making it more efficient.

In [3]:
import random
random.choice(['sun', 'sat', 'fri'])

'sun'

<img src = "image.jpg">

In [4]:
def read_from_db():
    c.execute("SELECT datestamp, day FROM banana WHERE day IN ('sun', 'sat')") #merely selects
    for row in c.fetchall():
        print(row)

In [7]:
read_from_db()

('2019-10-10 15:38:44', 'sun')
('2019-10-10 15:38:45', 'sun')
('2019-10-10 15:38:47', 'sat')
('2019-10-10 15:38:51', 'sun')
('2019-10-10 15:49:29', 'sun')
('2019-10-10 15:49:31', 'sun')
('2019-10-10 15:49:32', 'sat')
('2019-10-10 15:49:33', 'sun')
('2019-10-10 15:49:34', 'sun')
('2019-10-10 15:49:35', 'sat')
('2019-10-10 15:49:36', 'sun')
('2019-10-10 15:49:37', 'sun')

In [8]:
c.close()
conn.close()

In [2]:
#Routes

In [3]:
#We need to join destinatin ID with Source ID for routes;
#IN SQL: FROM routes INNER JOIN airport source-air ON source_aikr.id = routes.source_id
#Note the syntax INNER JOIN...ON

In [4]:
#CAST gets values of a table and column and put sit AS TEXT for example.